@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,700&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #0f100f 16.62%, #292a2a 85.61%);    
}

.cabeçalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4px;

}

.cabeçalho-menu{
    display: flex;
    gap: 32px;
}    

#cabeçalho-menu-item{
    font-family:'Sarala', sans-serif;
    color: whitesmoke;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 7px;
    border-top: 0.4px solid whitesmoke;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 32px;
    margin-right: 500px;
    margin-top: 100px;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 52px;
}

#conteudo-principal-escrito-titulo{
    font-family: 'Roboto Serif', serif;
    font-size: 64px;
    color: whitesmoke;
}

#conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans serif;
    font-weight: 400;
    font-size: 24px;
    color: whitesmoke;
}

#conteudo-principal-escrito-botao{
    background-color: white;
    height: 60px;
    width: 180px;
    border-radius: none;
    box-shadow: 4px 5px 4px  #292a2a;
    font-family: 'Sarala', sans serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;

}
.conteudo-secundario-escrito-titulo{
    border-top: 0.4px solid whitesmoke;
    padding-top: 48px;
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
    font-size: 24px ;
    color: whitesmoke;
    margin-bottom: 16px;
}

#conteudo-secundario-escrito-paragrafo{
    font-family: 'Sarala', sans serif;
    font-weight: 300;
    font-size: 18px;
    color: whitesmoke;
    margin-bottom: 20px;
}

.rodape{
    font-family: 'Sarala', sans serif;
    font-weight: 400;
    padding: 32px;

}

p{
    font-family: 'Roboto Serif', serif;
    display: block;
    height: 48px;
    color:white;
    margin: 0 auto;
    text-align: center;
}

span{
    font-family: 'Sarala', sans serif;
    color: #535353
  }